<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/random.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
 
  <param name="robot_description" command="$(find xacro)/xacro '$(find 2wbot_description)/urdf/atom.xacro'" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model 2wbot" />
        
   <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="False"/>
   </node>

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
   </node> 
     
   <include file="$(find hector_slam_launch)/launch/tutorial.launch">
   </include>

</launch>
